/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  color: black;
  font-size: 200%;
  margin: 1rem;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.5;
  background-image: url(./Smash.avif);
  background-position: center;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  height: 100%;
  background-repeat: no-repeat;
}
p {
  background: gray;
  margin-bottom: 50px;
}
h1 {
  background: da;
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
